/* Polar night */
/* #2e3440 #3b4252 #434c5e #4c566a */

/* Sn0w storm */
/* #d8dee9 #e5e9f0 #eceff4 */

/* Frost */
/* #8fbcbb #88c0d0 #81a1c1 #5e81ac */

/* Aurora */
/* #bf616a #d08770 #ebcb8b #a3be8c #b48ead */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito:wght@500;700&display=swap');

#checkbox,
.btn span {
  /* Hide the checkbox input & word "Menu" in the button */
  display: none;
}

.btn {
  display: block;
  position: fixed;
  top: 0;
  background-color: #d08770;
  color: #fff;
  width: 45px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 0 0 25px 0;
  transition: top 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar {
  background-color: #4c566a;
  position: fixed;
  top: 50px;
  width: 250px;
  height: 100%;
  z-index: 1111;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-250px);
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar ul a {
  position: relative;
  text-decoration: none;
  display: block;
  background-color: transparent;
  color: #d8dee9;
  padding: 10px 20px;
  font-size: 16px;
}

.sidebar ul a li i {
  margin-right: 15px;
}

/* Add margin to the icon in the second item */
.sidebar ul a:nth-child(2) li i {
  margin-left: 4px;
  margin-right: 19px;
}

.sidebar ul a:hover,
.sidebar ul a.active {
  background-color: #3b4252;
  color: #eceff4;
}

.sidebar ul a:hover::before,
.sidebar ul a.active::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: #d08770;
  width: 4px;
  height: 100%;
}

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
  transform: translateX(0);
}

#checkbox:checked + .btn {
  width: 250px;
  padding: 0 20px;
}
/* End of nav */

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  color: #d8dee8;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: Lora, sans-serif;
  background-color: #3b4252;
  background: linear-gradient(to left, #3b4252, #2e3440);
}

.main {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
}

header {
  display: flex;
  margin: 1em 0;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 620px;
  justify-content: center;
  background: #3b4252;
  margin: 0.5em;
  border-radius: 10px;
  width: 95%;
  box-shadow: 2px 3px 6px 2px #2e3440;
  -webkit-box-shadow: 2px 3px 6px 2px #2e3440;
  overflow: hidden;
}

#posts {
  width: 100%;
}

#yt {
  width: 100%;
}

.list-unstyled {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  margin: 0 20px;
}

li {
  width: 100%;
  display: flex;
  margin: 20px;
}

img {
  width: 100%;
  margin: 20px;
}

.terms {
  margin: 1em 0 0 0;
}

.animate-charcter {
  background-image: linear-gradient(
    -90deg,
    #5e81ac 0%,
    #81a1c1 30%,
    #88c0d0 40%,
    #d8dee8 50%,
    #8fbcbb 70%,
    #5e81ac 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 16s linear infinite;
  display: inline-block;
  font-size: 5em;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.re {
  width: 85%;
  padding-right: 5px;
}

.re-title {
  font-size: 20px;
}

.re-under {
  display: flex;
  width: 15%;
  justify-content: right;
  align-items: center;
}

@media all and (max-width: 500px) {
  .re-title {
    font-size: 16px;
  }
  .animate-charcter {
    font-size: 2em;
  }
}

/* LOADER */
.loader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader > span {
  display: inline-block;
  background-color: #5e81ac;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: #88c0d0;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin: 0.5em;
  min-width: 10em;
  max-width: 20em;
  width: 70%;
}

.buttons a {
  all: unset;
  display: flex;
  width: 100%;
  padding: 2em;
  border: none;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  font-family: Nunito, sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
}

.buttons i {
  display: flex;
  padding-right: 0.5em;
  align-items: center;
  justify-content: right;
  font-size: 1.6rem;
}

footer {
  font-family: Nunito;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: 3em 1em;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.footer-content p {
  max-width: 620px;
  margin: 0.2em;
}

footer ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer li {
  padding: 0;
}
