@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito:wght@500;700&display=swap');

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Lora, sans-serif;
  background: #2e3440;
}

iframe {
  margin: 20px;
}

#posts {
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  background: #3b4252;
  /* padding: 0.5em; */
  margin: 0.5em;
  border-radius: 10px;
  width: 95%;
}
.animate-charcter {
  background-image: linear-gradient(
    -90deg,
    #231557 0%,
    #44107a 15%,
    #ff1361 29%,
    #fff800 44%,
    #ff1361 60%,
    #44107a 85%,
    #231557 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*Scale text*/
 .re {
    margin-bottom:0px;
}
.re-title {
    font-size:20px;
}
.re-under {
    margin-top:1px;
}
@media all and (max-width: 500px) {
    /* screen size until 500px */
    .re-title {
        font-size: 16px;
        /* 0.8x default size */
    }
}
/*Thumbnail rules*/ 
